*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Oswald", Sans-serif;
    background-color: #eff1fe;
}
                /* first div main */


  .first{
    background: rgba(0,0,0,0.3)url("mainbg.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
  }

#nav{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    align-items: center;
    position: relative;
    
}
.logo{
    width: 10%;
    margin-left: 5%;
    
}
ul{
    display: flex;
    justify-content: space-around;
    
}
ul li{
    display: inline;
    list-style: none;
    font-size: 1.35rem;
    font-weight: 500;
    margin: 11px;
}
li a{
    text-decoration: none;
    color: rgb(15, 88, 0);
}
li a:hover{
    color: rgb(33, 119, 55);
    transition: color ease-in 400ms;
}
.content{
    color: rgb(7, 7, 7);
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 3.5rem;
    margin-bottom: 13%;
    text-align: center;
    font-size: 25px;
}
.maintext{
    font-size: 35px;
    line-height: 58px;
    color: white;
    font-family: "Oswald", Sans-serif;
    letter-spacing: 0.7px;
    height: 250px;
}
.sen1{
    font-weight: 900;
    
}
.sen2{
    font-weight: 570;
    font-size: 26px;
}
.sen3{
    font-weight: 100;
    font-size: 23px;
}
.n, .a, .t, .u, .r, .e{
    color: rgb(0, 79, 33);
    font-weight: 900;
    font-family: 'Rubik Microbe', cursive;
}
.v, .i, .ee, .w, .tw{
    color: rgb(10, 93, 39);
    font-weight: 900;
    font-family: 'Rubik Microbe', cursive;
}


/* second div main */

#coll{
    margin-left: 4%;
    margin-top: 1%;
    color: #05532e;
    font-weight: 700;
    margin-bottom: 6%;
}
#coll:hover{
    color: #0b7140;
    transition: color ease-in-out 500ms;
    cursor: pointer;
}
.second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3%;
    
    gap: 1.5%;
    
}

.flex-item {
    flex: 1 1 21%;
    margin-bottom: 20px;
    margin-top: -2%;
    box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5), 10px 0 10px -10px rgba(0, 0, 0, 0.5);
    
}
  
.flex-item img {
    width: 100%;
}
.imgg{
    height: 90%;
}
.imgg:hover{
    height: 92%;
    width: 103%;
    transition: height ease-in-out 300ms;
}


/* thirddiv */

.third{
    background:rgba(0,0,0,0.5)url("windmill.gif");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -14;
    height: 100%;
    padding-left: 3%

  }

#footh3{
    margin: 2%;
    padding-top: 5%;
    color: #3dc282;
    font-weight: 700;
    margin-bottom: 4.5%;
}
#footh3:hover{
    color: #087b43;
    transition: color ease-in-out 500ms;
    cursor: pointer;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 3%;
}
.flex-item1{
    flex: 1 1 20%;
    justify-content: space-between;
    color: #ffffff;
}
.footh4{
    font-size: 24px;
    margin: 4%;
    line-height: 44px;
    letter-spacing: 1px;
}
.B{
    font-size: 26px;
    font-weight: 700;
}
.Cur, .Ii{
    font-size: 23px;
    font-weight: 400;
    
}
.quo{
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
}
.item11{
    text-align: center;
    align-self: center;
}
.quoo{
    color: #60dc98;
}
.instalogo{
    width: 11%;
    height: 11%;
}
.instalogo:hover{
    width: 11.5%;
    height: 11.5%;
}
.logo1{
    width: 9%;
    height: 9%;
}
.logo1:hover{
    width: 9.5%;
    height: 9.5%;
}


  
